# generate files with: docker-builder -u -f=docker-builder.cfg

my $project = 'minion-backend-mongodb';
my $title   = 'Minion-Backend-MongoDB';    # $project;
my $module  = 'Minion::Backend::MongoDB';    # $project;
my $version = '1.1';

{
    docker => {
        buildkit => 1,
        from     => "ebruni/mojolicious:minion",
        project  => $project,
        image    => "ebruni/$project",
        history  => [
            {
                date    => '2021-09-24',
                version => '1.1',
                comment => 'Update backend to v.1.10'
            },
            {
                date    => '2021-09-09',
                version => '1.0',
                comment => 'Initial Version'
            },
        ],
    },
    git => {
        repo => "https://github.com/avkhozov/$title",
    },
    global => {
        author =>
          { name => 'Emiliano Bruni', mail => 'info@ebruni.it', abbr => 'EB' },
        title       => $module,
        description => q{backend for Minion, a high performance job queue
        in [Perl](https://www.perl.org), derived from
        [Minion::Backend::Pg](https://metacpan.org/pod/Minion::Backend::Pg)
        with supports for all its features
        .} =~ s/\s{8}//gmr,
        app_folder  => '/var/www',
        publish     => '',
        os_packages => [
            qw/make gcc perl-dev musl-dev/
        ],
        os_packages_clear => [
            qw/make gcc perl-dev musl-dev/
        ],
        license      => 'Artistic-2.0',
        perl_modules => [$module],
        versions     => [$version],
    },
    releases => {
        main => {
            versions       => [ $version, 'latest' ],
        },
        mongodb => {
            from     => "ebruni/mojolicious:minion-mongodb",
            versions => [ $version . '-mongodb', 'mongodb' ],
        },
    },
    templates => [
        {
            source => 'dockerfile.ep',
            target => 'Dockerfile'
        },
    ],
};
